<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
<div>
    <a class="button" href='{% url "index" %}'>All</a>
    <a class="button" href='{% url "new" %}'>New</a>
    <a class="button" href='{% url "book_search" %}'>Search</a>

    {% block user_login_header %}
    {% if user.is_authenticated %}
        {{ user.username }}
        <form action="{% url 'logout' %}" method="post" style="display: inline">
            {% csrf_token %}
            <button type="submit">Log Out</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Log In</a>
        <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
    {% endblock %}
</div>
    {% block content %}{% endblock %}
</body>
</html>