{% extends "base.html" %}

{% block title %}{{ book.title }}{% endblock title %}
{% block content %}
    <h2>{{ book.title }}</h2>
    <h5>by {{ book.authors }}</h5>
    <p>Description: {{ book.description }}</p>
    <div>
    {% if user.is_authenticated %}
        {% if book in user.profile.favorite_books.all %}
            <form action="{% url 'remove_from_favorites' book.id %}" method="post" style="display: inline">
            {% csrf_token %}
            <button type="submit" style="display: inline">Remove from Favorites</button>
            </form>
        {% else %}
            <form action="{% url 'add_to_favorites' book.id %}" method="post" style="display: inline">
            {% csrf_token %}
            <button type="submit" style="display: inline">Add to Favorites</button>
            </form>

        {% endif %}
        {% if book in user.profile.books_to_read.all %}
            <form action="{% url 'remove_from_reading_list' book.id %}" method="post" style="display: inline">
            {% csrf_token %}
            <button type="submit" style="display: inline">Remove from reading list</button>
            </form>

        {% else %}
            <form action="{% url 'add_to_reading_list' book.id %}" method="post" style="display: inline">
            {% csrf_token %}
            <button type="submit" style="display: inline">Add to reading list</button>
        </form>
        {% endif %}
    {% else %}
        <button disabled>Add to Favorites</button>
        <button disabled>>Add to reading list</button>
    {% endif %}
    </div>
        <table>
    
        <tr><td>Average goodreads rating</td> <td>{{ book.avg_rating }}</td></tr>
        <tr><td>Published</td> <td>{{ book.published_date }}</td></tr>
        <tr><td>Publisher</td> <td>{{ book.publisher }}</td></tr>
        <tr><td>ISBN</td> <td>{{ book.isbn }}</td></tr>
        <tr><td>Number of favorites</td> <td>{{ book.favorited_by.count }}</td></tr>
        <tr><td>Number of reading list entries</td> <td>{{ book.added_to_reading_list_by.count }}</td></tr>
    </table>
    <hr>
    <div>

    <form method="post">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Submit</button>
    </form>
    </div>
    <hr>
    <h3>Comments: </h3>
    <table>
        {% for comment in comments %}
            {% if not comment.hidden %}
            
            <tr><td>
                <p>{{ comment.user_profile }} ({{ comment.formatted_time }} )</p>
                <p>{{ comment.comment }}</p>
            </td></tr>
            {% endif %}
    {% endfor %}
    </table>
{% endblock %}