{% extends "base.html" %}
{% block content %}
    <h2>{{ book.title }}</h2>
    <h5>by {{ book.authors }}</h5>
    <p>Description: {{ book.description }}</p>
    {% if user.is_authenticated %}
        {% if book in user.profile.favorite_books.all %}
            <form action="{% url 'remove_from_favorites' book.id %}" method="post" style="display: inline">
            {% csrf_token %}
            <button type="submit" style="display: inline">Remove from Favorites</button>
            </form>
        {% else %}
            <form action="{% url 'add_to_favorites' book.id %}" method="post" style="display: inline">
            {% csrf_token %}
            <button type="submit" style="display: inline">Add to Favorites</button>
            </form>

        {% endif %}
        {% if book in user.profile.books_to_read.all %}
            <form action="{% url 'remove_from_reading_list' book.id %}" method="post" style="display: inline">
            {% csrf_token %}
            <button type="submit" style="display: inline">Remove from reading list</button>
            </form>

        {% else %}
            <form action="{% url 'add_to_reading_list' book.id %}" method="post" style="display: inline">
            {% csrf_token %}
            <button type="submit" style="display: inline">Add to reading list</button>
        </form>
        {% endif %}
    {% else %}
        <button disabled>Add to Favorites</button>
        <button disabled>>Add to reading list</button>
    {% endif %}
    <p>Average goodreads rating: {{ book.avg_rating }}</p>
    <p>Published: {{ book.published_date }}</p>
    <p>Publisher: {{ book.publisher }}</p>
    <p>ISBN: {{ book.isbn }}</p>
    <p>Number of favorites: {{ book.favorited_by.count }}</p>
    <p>Number of reading list entries: {{ book.added_to_reading_list_by.count }}</p>
    <h3>Comments: </h3>

    {% for comment in comments %}
        <p>{{ comment.user_profile }} ({{ comment.published_datetime }} )</p>
        <p>{{ comment.comment }}</p>
    {% endfor %}
{% endblock %}